language: cpp
sudo: required
compiler:
- gcc
install:
- wget https://raw.githubusercontent.com/smessmer/travis-utils/master/update_gcc_version.sh
  && chmod +x update_gcc_version.sh
  && ./update_gcc_version.sh 4.8
  && rm update_gcc_version.sh
- sudo apt-get install libfuse-dev
# This is needed for packaging 7z distribution packages
- sudo apt-get install software-properties-common && sudo add-apt-repository ppa:george-edison55/precise-backports -y && sudo apt-get update
- sudo apt-get install cmake cmake-data rpm
- cmake --version
#  Use /dev/urandom when /dev/random is accessed, because travis doesn't have enough entropy
- sudo cp -a /dev/urandom /dev/random
before_script:
- wget https://raw.githubusercontent.com/smessmer/travis-utils/master/setup_biicode_project.sh
  && chmod +x setup_biicode_project.sh
  && ./setup_biicode_project.sh
  && rm setup_biicode_project.sh
script:
#The configure line is needed as a workaround for the following link, otherwise we wouldn't need "bii configure" at all because "bii build" calls it: http://forum.biicode.com/t/error-could-not-find-the-following-static-boost-libraries-boost-thread/374
- bii cpp:configure || bii cpp:configure
# Build cryfs executable
- bii cpp:build -- -j2
# Make distribution packages
- cd bii/build/messmer_cryfs && make package && cd ../../..
# Build and run test cases
- bii cpp:build --target messmer_cryfs_test_main -- -j2
- wget https://raw.githubusercontent.com/smessmer/travis-utils/master/run_with_fuse.sh
  && chmod +x run_with_fuse.sh
  && ./run_with_fuse.sh "./bin/messmer_cryfs_test_main"
  && rm run_with_fuse.sh
after_success:
- bii user ${BII_USERNAME} -p ${BII_PASSWORD}
- bii publish
#deploy:
#  provider: biicode
#  user: ${BII_USERNAME}
#  password:
#    secure: ${BII_PASSWORD}
#  on:
#    branch: develop

