name: 'Test'
description: 'Run CryFS Tests'
inputs:
  gtest_args:
    description: "Extra arguments for gtest runners, for example tests to exclude"
    required: true
  extra_env_vars:
    description: "Extra environment variables to set before running tests"
    required: true
runs:
  using: "composite"
  steps:
    - name: Run tests
      shell: bash
      run: |
        set -v
        echo Running on ${{runner.os}}
        cd build

        export ${{ inputs.extra_env_vars }}

        ./test/gitversion/gitversion-test ${{inputs.gtest_args}}
        ./test/cpp-utils/cpp-utils-test ${{inputs.gtest_args}}
        ./test/parallelaccessstore/parallelaccessstore-test ${{inputs.gtest_args}}
        ./test/blockstore/blockstore-test ${{inputs.gtest_args}}
        ./test/blobstore/blobstore-test ${{inputs.gtest_args}}
        ./test/cryfs/cryfs-test ${{inputs.gtest_args}}
        
        # TODO Also run on macOS once fixed
        if [[ "${{runner.os}}" == "macOS" ]]; then
          echo Skipping some tests because they are not fixed for macOS yet
        else
          # TODO Also run with TSAN once fixed
          if [[ "${{matrix.name}}" != "TSAN" ]]; then
            ./test/fspp/fspp-test ${{inputs.gtest_args}}
          fi
          ./test/cryfs-cli/cryfs-cli-test ${{inputs.gtest_args}}
        fi
