name: CI

on:
  - push
  - pull_request

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    name: test
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-14
          - macos-15
          - macos-15-intel
          - macos-26
          - ubuntu-22.04
          - ubuntu-24.04
        # TODO `command: ["test"]` to run tests of all crates. But for some reason, that deadlocks at the moment.
        command: ["test -p cryfs-blobstore -p cryfs-blockstore -p cryfs-cli-utils -p cryfs-concurrent-store -p cryfs-cli -p cryfs-filesystem -p cryfs-runner -p cryfs-version -p cryfs-crypto -p cryfs-rustfs -p fsblobstore -p tempproject -p cryfs-utils"]
        profile: ["", "--release"]
        # TODO Add --all-features (but that takes too long). Maybe instead add --all-features for some crates, but use separate jobs for the different slow-test-features of blockstore.
        features: ["", "--no-default-features"]
        toolchain: ["stable", "nightly", "1.89"]
    runs-on: ${{matrix.os}}
    steps:
      - name: Free Disk Space (Ubuntu)
        if: ${{ runner.os == 'Linux' }}
        uses: jlumbroso/free-disk-space@v1.3.1
      - uses: actions/checkout@v6
      - name: Install Dependencies (Linux)
        if: ${{ runner.os == 'Linux' }}
        # TODO We may be able to remove libfuse3-dev here because rust fuser doesn't use libfuse anymore (on Linux at least)
        run: sudo apt-get install -y fuse3 libfuse3-dev
      - name: Install Dependencies (MacOS)
        if: ${{ runner.os == 'macOS' }}
        run: brew install pkg-config macfuse
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.toolchain }}
          default: true
      - uses: actions-rs/cargo@v1
        with:
          command: ${{ matrix.command }}
          args: ${{ matrix.features }} ${{ matrix.profile }}
  crates_individually_testable:
    # This job tests that each crate can be built and tested individually.
    # We don't actually run any tests because those are being run as part of other CI jobs already.
    name: check
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        crate: ["blobstore", "blockstore", "check", "cli-utils", "concurrent-store", "cryfs-cli", "cryfs-filesystem", "cryfs-runner", "cryfs-version", "crypto", "e2e-perf-tests", "fsblobstore", "rustfs", "tempproject", "utils"]
        targets: ["", "--tests", "--examples", "--benches"]
        features: ["", "--no-default-features", "--all-features"]
        profile: ["", "--release"]
    steps:
      - name: Free Disk Space (Ubuntu)
        if: ${{ runner.os == 'Linux' }}
        uses: jlumbroso/free-disk-space@v1.3.1
      - uses: actions/checkout@v6
      - name: Install Dependencies
        run: sudo apt-get install -y fuse3 libfuse3-dev
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          default: true
      - name: cargo check
        working-directory: ./crates/${{ matrix.crate }}
        run: cargo check ${{ matrix.profile }} ${{ matrix.features }} ${{matrix.targets}}
  # clippy_check:
  #   name: Linter (clippy)
  #   runs-on: ubuntu-latest
  #   permissions:
  #     checks: write
  #   steps:
  #     - uses: actions/checkout@v6
  #     - name: Install Dependencies
  #       run: sudo apt-get install -y fuse3 libfuse3-dev
  #     - uses: actions-rs/toolchain@v1
  #       with:
  #         toolchain: stable
  #         components: clippy
  #         default: true
  #     - uses: actions-rs/clippy-check@v1
  #       with:
  #         token: ${{ secrets.GITHUB_TOKEN }}
  #         args: --all-features --all-targets -- -D warnings
  code_format:
    name: Code Formatter (rustfmt)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          components: rustfmt
          default: true
      - uses: mbrobbel/rustfmt-check@0.5.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
  # sync_readme:
  #   name: Sync README.md (cargo sync-readme)
  #   runs-on: ubuntu-latest
  #   steps:
  #   - uses: actions/checkout@v6
  #   - run: cargo install cargo-rdme
  #   - run: ./gen_readme.sh
  #   # Fail job if gen_readme.sh introduced changes. If this fails, then we need to run gen_readme.sh locally and add it to the commit.
  #   - run: git diff --exit-code
  dead_doc_links:
    name: Find dead doc links
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Install Dependencies
      run: sudo apt-get install -y fuse3 libfuse3-dev
    - uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        default: true
    - run: RUSTDOCFLAGS="-Dwarnings" cargo doc
  coverage:
    name: Code Coverage
    runs-on: ubuntu-latest
    steps:
      - name: Free Disk Space (Ubuntu)
        if: ${{ runner.os == 'Linux' }}
        uses: jlumbroso/free-disk-space@v1.3.1
      - uses: actions/checkout@v6
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          default: true
      # Setup inspired by instructions at https://github.com/taiki-e/cargo-llvm-cov/blob/9b93f70f4c5a06d6ee221d3537067bc8d3f5b7c6/README.md
      - name: Install cargo-llvm-cov
        uses: taiki-e/install-action@cargo-llvm-cov
      - name: Generate code coverage
        run: cargo llvm-cov --all-features --workspace --lcov --output-path lcov.info
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}  # not required for public repos, but leaving it here because it seems we run into rate limit issues on Codecov's API without it.
          files: lcov.info
          fail_ci_if_error: true
          verbose: true